Test Notebook With Print

In [5]:
print("Hello, World")

Hello, World

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("employees.csv")

In [5]:
print(df)

            Name  Age   Department  Salary
0       John Doe   28  Engineering   50000
1     Jane Smith   35    Marketing   60000
2    Emily Davis   22        Sales   45000
3  Michael Brown   40           HR   65000
4   Laura Wilson   30  Engineering   55000